# Django #
fancylib/settings.py

*.swp
*.log
*.pot
*.pyc
__pycache__
db.sqlite3
media
f_log
# Backup files #
*.bak

# If you are using PyCharm #
.idea/
*.iws /out/

# Python #
*.py[cod]
*$py.class


# pyenv
.python-version

# celery
celerybeat-schedule.*












